<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../styles/style.css" />
        <title>About</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Cous's Inn</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/cart">🛒</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>

        <div class="container">
            <div class="about">
                <h1>Who are we?</h1>
                <p>
                    We represent a family of unioned cook's, with over 10 years
                    of experience in restaurants all around the world.
                </p>
                <p>
                    Our lead chef, trained by Gordon Ramsey, will make sure you
                    are eating the highest quality food in the city
                </p>
                <p>
                    Join our community with 100+ daily satisfied customers.
                    Check out our
                    <a href="/menu">Menu</a> to order our delicious food or come
                    to the restaurant and meet the staff
                </p>
                <p>
                    We hope you enjoy your food and looking forward for your
                    return :)
                </p>
            </div>
            <div class="cont-loc">
                <div id="location">
                    <h2>Visit us!</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2918.3974972167985!2d-81.23489492341301!3d42.99096389500932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882ef20b00497b57%3A0xeb484c9d8a6159fe!2s476%20Adelaide%20St%20N%2C%20London%2C%20ON%20N6B%203H9%2C%20Kanada!5e0!3m2!1shr!2shr!4v1695575556049!5m2!1shr!2shr"
                        width="600"
                        height="450"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                </div>
                <div class="contact-us">
                    <h2>Make sure to contact us with any of the following:</h2>
                    <div id="logo-contacts">
                        <img src="../images/phone-logo.webp" alt="" />
                        <p>+01 251 5495</p>
                    </div>
                    <div id="logo-contacts">
                        <img src="../images/whatsapp-logo.webp" alt="" />
                        <p>+01 251 5495</p>
                    </div>
                    <div id="logo-contacts">
                        <img src="../images/instagram-logo.webp" alt="" />
                        <p>@officialCousInn</p>
                    </div>
                    <div id="logo-contacts">
                        <img src="../images/facebook-logo.webp" alt="" />
                        <p>Cous's Inn</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
