<!DOCTYPE html>
<html>
    <head>
        <title>Home - My Restaurant</title>
        <link rel="stylesheet" type="text/css" href="../styles/style.css" />
        <title>Cous's Inn</title>

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Cous's Inn</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/cart">🛒</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>
            <div class="welcome">
                <div class="title-main"><h1>Cous's Inn</h1></div>
                <img src="../images/establishment.webp" alt="" />
            </div>
            <div class="intro">
                <p>
                    Make sure to check out our <a href="/menu">Menu</a> and
                    place an order
                </p>
            </div>
        </div>
    </body>
</html>


