<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../styles/style.css" />
        <title>Menu</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Cous's Inn</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/cart">🛒</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div id="menu-list"></div>
            <script type="module" src="/views/menu.js"></script>
        </div>
    </body>
</html>
